.img-box {
    background: $grey;
    height: $s-el-size;
    width: $s-el-size;
    border-radius: $m-el-size;
    box-shadow: .5px .5px 3px .3px $grey;
    margin-right: $s-size;
}

.img-box--bottom {
    margin-top: $m-size;
}
