.textarea {
    width: $xl-el-size;
    height: $s-el-size;
    border: .6px solid rgba(129, 125, 125, 0.603);
    border-radius: 3px;
    box-shadow: .5px .5px 3px 1px rgba(129, 125, 125, 0.603);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: darken($grey, $amount: 25);
    padding: $s-size;
}

.textarea--loading {
    opacity: .5;
}