* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    font-weight: 600;
    line-height: 1.6;
    color: darken($grey, $amount: 15)
  }