$off-white: #f7f7f7;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//element size
$s-el-size: 5rem;
$m-el-size: 10rem;
$l-el-size: 20rem;
$xl-el-size: 40rem;
//colors
$grey: #999;